.theme-hope-content .vp-playground .vp-playground-container {
  height: 800px;
}
.vp-sidebar > .vp-sidebar-links > li > .vp-sidebar-link {
  font-size:0.8rem;
}
.vp-blog-infos {
  display: none;
}
.vp-blog-info-wrapper {
  display: none;
}
.blog-page-wrapper {
  display: none;
}